@{
    ViewData["Title"] = "Sistema Cadastro de Jogos de Basquete";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Desafio!</h1>
</div>
<div class="container">
    <span>Esse &eacute; um projeto prático, com intuito de monstrar os conhecimentos em desenvolvimento.</span>
    <br/>
    <span>Ultiliza SqLite como Banco de Dados, por ser um banco simples e que atende a demanda do projeto. O EntityFramework é ultilizado como ORM pela praticidade com o .NET Core.</span>
</div>
