@using DesafioCore

@{ ViewData["Title"] = "Placar"; }

@section Scripts
{
    <script type="text/javascript" src="~/scripts/placar.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
}

<div class="container">
    <div class="text-center">
        <h2>Placar</h2>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Jogo</th>
                <th>Placar</th>
                <th>Mínimo da Temporada</th>
                <th>Máximo da Temporada</th>
                <th>Quebra recorde Min.</th>
                <th>Quebra recorde Máx.</th>
            </tr>
        </thead>
        <tbody>
      
        </tbody>
    </table>
</div>